.logo {
    margin-right: 50px;
    font-weight: bold;
}

.ColBag {
    background-color: white;
}

.logOut {
    background-color: white;

}

.button3 {
    font-size: small;
    height: 25px;
    width: 25px;
}

